/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: ;
}

h1 {
  border-width: 40px;
  color: rgb(141, 78, 205);
  .container{
    width: 40px;
    margin:auto
  }
}
h2{
  color: brown;
}
label{
  color: aqua;
}
p {
  color:brown
  font-size: 14px;
  line-height: 1.5;
}